.kepzes-container {
    margin-bottom: 50px;
    padding: 50px 0px 50px;
    text-align: left;
    background: rgb(255, 197, 224);
}

.kepzes-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.kepzes-card {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row; /* Asztali nézetben bal oldalt marad a kép */
    overflow: hidden;
    background: #f9f9f9;
    -webkit-box-shadow: 6px 9px 5px 0px rgba(62,66,66,0.19);
    -moz-box-shadow: 6px 9px 5px 0px rgba(62,66,66,0.19);
    box-shadow: 6px 9px 5px 0px rgba(62,66,66,0.19);
}

.kepzes-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Szövegstílus */
.kepzes-info {
    padding: 10px;
    flex: 1;
}

.kepzes-info h3 {
    margin: 0;
    font-size: 3rem;
    margin-left: 20px;
    font-family: Gloock;
}

.kepzes-info p {
    font-size: 1.4rem;
    margin: 5px 20px;
    font-family: 'Hansen';
}


@media (max-width: 768px) {
    .kepzes-card {
        flex-direction: column; /* Mobilon a kép és a szöveg egymás alatt lesz */
        text-align: center;
    }

    .kepzes-card img {
        width: 100%; /* A kép teljes szélességű lesz */
        height: 400px; /* Megőrzi az arányait */
    }

    .kepzes-info h3 {
        font-size: 2rem; /* Kisebb cím mobilon */
        margin-left: 0;
    }

    .kepzes-info p {
        font-size: 1.2rem;
        margin: 10px;
    }
}
