.foglalas-kontener {
    width: 90%;
    
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Foglalási űrlap */
.foglalas-adatai {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.foglalas-adatai input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Időpont kártyák konténer */
.foglalas-kartyak-kontener {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;

    /* Teljes konténer középre igazítása */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    /* Kártyák középre igazítása */
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Egyéni időpont kártya */
.foglalas-kartya {
    margin-top: 15px;
    background-color: #ffffff;
    
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
    text-align: center;
    background-color: hsl(324, 100%, 90%);
}

.foglalas-kartya:hover {
    transform: scale(1.05);
}

/* Foglalás gomb */
.foglalas-gomb {
    font-family: 'Hansen Grotesk';
    background-color: #fec2f6;
    color: rgb(73, 73, 73);
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    margin: 2%;
    width: 50%;
}

.foglalas-gomb:hover {
    background-color: hsl(301, 100%, 85%);
}

.foglalas-bezaras{
        font-family: 'Hansen Grotesk';
        background-color: #000000;
        color: rgb(255, 255, 255);
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.2s;
        width: 50%;
    

}

.foglalas-adatok{
    border-radius: 10px;
    padding: 2%;
    font-family: 'Gloock';
    border-color: #cccccc24;
    margin: 5px;
    

}

.error-text{
    color: red;
    margin: 0;

}