.main-vid{
    
    background-color: rgb(227, 227, 227);
    padding-top: 40px;
    margin-top: 50px;
    
    padding-bottom: 40px;


}
.main-vid h3{
    
    margin-bottom: 50px;
    color:deeppink;
    text-align: center;

}




.video-container {
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-content: center;
        
        
}

video {
    width: 375px;
    height: 525px;
    object-fit: cover;
    display: block;
    border: 2px darkgray;
    border-style: solid;
    margin-top: 5%;
    margin-left: 25%;
    
}

.video-text{
    margin-top: 5%;
    margin: auto;
    width: 400px;
    font-size: 1.2rem;
    margin: auto;

}
.video-text h3{
    font-size: 1.5rem;
    margin-right: 10%;
    

}


@media (max-width:762px) {
    .video-container{
        
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            

    }
    video {
        width: 100%;
        height: 525px;
        object-fit: cover;
        display: block;
        border: 2px darkgray;
        border-style: solid;
        margin-top: 5%;
        margin:0;
        margin-left: 5%;
        width:90%;
        height: 600px;
        
        
    }
    .video-text{

        margin-left: 5%;
    }
    
    
}