.admin-booking-container {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-top: 100px;
        
 
}

.booking-list {
    
    width: 90%;
    margin: 0 auto; /* Középre igazítás */
      
}


.delete{ 
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.booking-list h2 {
    text-align: center;
    margin-bottom: 15px;
}

.booking-list ul {
    list-style: none;
    padding: 0;
}

.booking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.booking-item span {
    flex: 1;
    text-align: center;
}
.accept{
    background-color: #4CAF50;
    color: white;
    margin-right: 8px;

}
.booking-item button {
    padding: 5px 10px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-item button:hover {
    background-color: #45a049;
}

@media (max-width:1200px) {
    .admin-booking-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-content: center;
    }

    .booking-list {
        width: 70%;
       
        
       
    }
    .booking-item{
         
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-bottom: 25px;
            

    }

    
    
    .booking-item button{
        margin-top: 10px;
        width: 100%;

    }
    
}