
.gall-content {
        background-color: rgb(251, 251, 251);
        padding-top: 20px;
        text-align: center;
        max-width: 1800px; /* Ez a szélesség segít a középre igazításban */
        margin: 0 auto;    /* Középre helyezés */
        align-items: center;
       
    }
      
  



.gall-card{
    background-color: hsl(310, 100%, 83%);
    border-radius: 15px;
    max-width: 450px;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    
}

.galleria-h5{
    margin-top: 10px;

}
.galleria-p{
    margin-left: 10px;
    margin-right: 10px;

}
.kozteshely .col-sm-12, .col-md-4, .col-lg-4 {
    display: flex;
    justify-content: center; /* Középre igazítja a kártyát az oszlopban */
}

.gall-card:hover{
    top: 0;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover{box-shadow: 0 20px 40px rgba(255, 106, 185, 0.35);
    top: -2px;
    }

}

.kozteshely{
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}