

.gall-content {
        background-color: rgb(251, 251, 251);
        padding-top: 20px;
        text-align: center;
        max-width: 1800px; /* Ez a szélesség segít a középre igazításban */
        margin: 0 auto;    /* Középre helyezés */
        align-items: center;
       
    }
      
  



.gall-card{
    background-color: hsl(310, 100%, 83%);
    border-radius: 15px;
    max-width: 450px;
    justify-content: center;
}
.kartya-cont{

    text-align: center;
    display: grid;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    justify-items: center;
    gap: 20px;
    

    


}

.kartya{
    height: 300px;
    width: 300px;
    display: block;
    box-shadow:darkgray;
    margin: 20px;
    
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    

}

.kartya img{
    width: 300px;
    height: 300px;

}