header{

    background-color: hsl(310, 79%, 85%);
    margin: 0;
    padding: 200px;
    text-align: center;
    
}

h1 { 
    color: rgb(62, 62, 62);
    font-size: 50px;
}

p{
    color: rgb(62, 62, 62);
    font-size: 20px;
}