* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Megakadályozza a vízszintes görgetést */
}

.ul-nav {
  width: 100%;
  list-style-type: none;
  overflow:inherit;
  background-color: #F6F5F2;
  outline: 0;
  border: 0;

  top: 0;
  position: sticky;
  height: 70px !important;
  align-items: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertikális középre igazítás */
  position: relative;


}


li .left-nav, .navbar-nev, .active-nav {
  padding: 0px;
  display: inline-block; /* Inline blokkos megjelenítés */


}


/* BetĂźk  */
.bal-nav, .active-nav  {
  margin: 0px;
  display: flex;
  color: rgb(33, 33, 33);
  text-align: center;
  text-decoration: none;
  outline: 0;
  border: 0;
  padding: 0px 20px 0px 20px !important;
  line-height: 70px;
  transition: background-color 0.3s ease-in-out;

}


.bal-nav:hover, .active-nav:hover {
  height: 100%;
  background-color: #FF0074;
}

.active-nav{
  background-color: hsl(0, 1%, 35%);
  color: white;
  float: right;
  height: 100%;
}

.bal-nav{
  float: left;
}

.navbar-nev {
  font-size: 24px;
  text-align: center;
  flex-grow: 1; /* A cím kitölti a középső helyet */
  color: rgb(33, 33, 33);
  margin: 0 auto; /* Ezzel a cím középre igazodik */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left-nav, .right-nav {
  display: flex; /* Ezekkel a csoportok rugalmasak lesznek */
}



.apro-a, .apro-lr{
display: none;
background: #F6F5F2;
text-decoration: none;
font-family: 'Hansken Grotesk';
}

.Scroll-down{
  background-color: antiquewhite;
  text-align: center;
  text-decoration: none;


}



.Scroll-ul{
  width: 100%;
  padding: 0;
  list-style: none; /* Eltávolítja az alapértelmezett margót */
  margin: 0;
  text-decoration: none;

}

.rbc-calendar { 
  height: 1000px; 
}
.rbc-timeslot-group {
  min-height: 100px;
}




@media (max-width: 1200px) {
    .bal-nav, .active-nav{
        display: none;
    }

    .Scroll-down .apro-a, .apro-lr, .Scroll-ul{
      display: block;
      text-decoration: none;


    }

    .apro-a , .apro-lr {
      background-color: #ff72b1;
      width: 100%;
      margin: 0;
      padding: 10px;
      border-color:black;
      color: rgb(255, 255, 255);
      text-decoration: none;
<<<<<<< Updated upstream


=======
      
      
    
>>>>>>> Stashed changes

    }
}





.galleria-head{
  margin: 0;
  text-align: center;
  padding: 20px;
  background-color: #ff2d8cee;
  color: #F6F5F2;
  text-decoration: none;

}


@media (max-width: 768px) {
  .big-calendar-container {
    overflow-x: scroll; /* Görgetés kisebb eszközökön */
  }
  .big-calendar {
    min-width: 900px; /* Mobilon nagyobb szélesség, hogy ne zsugorodjon */
    height: 800px; /* Magasabb naptár mobil nézetben */
  }
}