/* NavigĂĄviĂłs felĂźletre vonatkozĂł beĂĄllĂ­tĂĄsok */
body{
  margin: 0;
  padding: 0;
}
.ul-nav {
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  background-color: #F6F5F2;
  outline: 0;
  border: 0;
  position: fixed;
  top: 0;
  position: sticky;
  height: 60px !important;
  align-items: center;
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center; /* Vertikális középre igazítás */
  position: relative;

}


li {
  padding: 0px;
  display: inline-block; /* Inline blokkos megjelenítés */
  
}


/* BetĂźk  */
.bal-nav, .active-nav  {
  margin: 0px;
  display: flex;
  color: rgb(33, 33, 33);
  text-align: center;
  text-decoration: none;
  outline: 0;
  border: 0;
  padding: 0px 20px 0px 20px !important;
  line-height: 400% !important;
}


.bal-nav:hover, .active-nav:hover {
  height: 100%;
  background-color: #FF0074;
}

.active-nav{
  background-color: hsl(0, 1%, 35%);
  color: white;
  float: right;
  height: 100%;
}

.bal-nav{
  float: left;
}

.navbar-nev {
  font-size: 24px;
  text-align: center;
  flex-grow: 1; /* A cím kitölti a középső helyet */
  color: rgb(33, 33, 33);
  margin: 0 auto; /* Ezzel a cím középre igazodik */
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
}

.left-nav, .right-nav {
  display: flex; /* Ezekkel a csoportok rugalmasak lesznek */
}
.right-nav button{
  display: none;
  
}


@media (max-width: 992px) {
    .bal-nav, .active-nav{
        display: none;
    }

    .right-nav button{
      display: block;

    }
}

