/* A gombokat tartalmazó konténer stílusa */
 .kartyak{
  /* Itt adhatod meg a div stílusait */
  display: flex; /* Például Flexbox használata a gombok igazításához */
  justify-content: space-around; /* Gombok közötti hely elosztása */
  align-items: center; /* Vertikális középre igazítás */
  padding: 20px; /* Padding hozzáadása */
  border-radius: 10px; /* Lekerekített sarkok */
  width: 100%; /* A div teljes szélessége */
  margin: 0 auto; /* Középre igazítás */
  
  }
  
  /* Gombok stílusa képpel és szöveggel */
button {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 40%; /* Szélesség testreszabása */
    text-align: center;
    border-radius: 20px;
  }
  
button img {
    width: 100%; /* A kép kitölti a gombot */
    height: auto;
    border-radius: 20px;
    max-height: 800px;
  }
  
button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Egy kis árnyék a jobb olvashatóságért */
  }
  