* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

header{
    height: 100vh; /* A header kitölti a teljes képernyőt */
   
    justify-content: center; /* Középre igazítás vízszintesen */
    align-items: center;
    background-color: #f7bbed;
    margin: 0;
    padding: 200px;
    text-align: center;
    max-height:800px;
    width: 100%;

    
}

h1 { 
    color: rgb(62, 62, 62);
    font-size: 50px;
}

.p-header{
    color: rgb(62, 62, 62);
    font-size: 20px;
}