.wrapper {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin: 100px 20px;
  
  width: 500px;
  height: 700px;
  text-align:center;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);  
  transition: all 0.2s ease-in-out;
  overflow: hidden;

  .image {
    width: 100%;
    height: 70%;
    padding-bottom: 24px;
  }





  
  .title {
    font-size: 36px;
  }
  
  .text {
    font-size: 16px;
  }
}


.hover {
  top: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  
  &:hover {
  box-shadow: 0 20px 40px rgba(255, 106, 185, 0.35);
  top: -2px;
  cursor: pointer;
  }
}

.line {
  &:before {
    content: "";
    display: block;
    height: 5px;
    width: 0;
    position:absolute;
    top: 0;
    left: 0;
    background-color: #000;
    transition: all 0.2s ease-in-out;
  }
  
  &:hover {
    &:before {
      width: 100%;
    }
  }

  
  
}

.card button{
   
  margin-top: 5%;
  width: 100%;
  height: 13.9%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: pink;
  font-size: 30px;
  border: 0px;
}

.text{
  padding-top:3%;
 

}