.rolam-container {
    background-color: rgb(251, 251, 251);
    color: rgb(28, 28, 28);
    
    padding: 1%;


}

.jobb-rolam, .bal-rolam{
    padding: 3% 10%;

}

.rolam-profil{
    border-radius: 50%;  
    margin: 0 auto;
    width: 250px;
    height: 250px;
}



.elvalaszto{
    height: 1px;
    width: 80%;
    
    background-color: rgb(249, 136, 227);
    border-radius: 40%;
    margin: 0 auto;


}



.Social a{
    color: rgb(23, 23, 23);
    text-decoration: none;

}

.Social{
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
    
}

footer .jobb-rolam{
    text-align:left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;       
}

.jobb-rolam-text h4, .jobb-rolam-text p {
    margin: 0;
    font-family: 'GLOOCK';
    
}

.Social .row {
    justify-content: space-around; /* Egyenletesen osztja el a linkeket */
}
.bal-rolam h2{
    text-align: left;
    margin-bottom: 40px;
    font-family: 'Gloock';
    font-size: 3rem;
}

.bal-rolam p{
    text-align: left;
    font-family: 'Hansel';
}