

.rolam-container {
    background-color: rgb(213, 213, 213);
    margin: 0;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.Leiras{
    margin-top: 30px;
    margin-left: 10%;

}
.Leiras h3{
    font-family: Gloock;
    font-size: 2rem;
}

.Leiras p{
    font-family: Hansen;
    font-weight: lighter;
    font-size: 1.1rem;

}


.Nevjegy{
    text-align: center;


}

.Nevjegy h4{
    font-family: Gloock;
    font-size: 2rem;
    margin: -3px;


}

.Nevjegy img{
    margin-top: 15%;
    max-width: 400px;
    max-height: 300px;


}


@media screen and (max-width: 768px) {
    .rolam-container {
        display: flex;
        flex-direction: column-reverse; /* A sorrend megfordítása */
        align-items: center;
        text-align: center;
    }

    .Leiras {
        margin-left: 0; /* Középre igazítás */
    }

    .Nevjegy img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}